*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to top, #DDA0DD, #FF69B4);
    min-height: 100vh;
    width: 100%;
    
    margin: 0;
}
.quiz-box{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);

}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.quiz{
    padding: 20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#question{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
.btn{
    background: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}
.difficulty-selection {
    text-align: center;
    margin-top: 20px;
}

.difficulty-selection button {
    background: #001e4d; /* Background color */
    color: #fff; /* Text color */
    font-weight: 500;
    font-size: 16px;
    border: 0;
    padding: 10px 20px; /* Adjust padding as needed */
    margin: 10px; /* Adjust margin as needed */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
}

.difficulty-selection button:hover {
    background: #ffaa00; /* Background color on hover */
    color: #001e4d; /* Text color on hover */
}
.Triviagame{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
}